body {
    padding: 30px;
}

ul {
    padding: 0;
}

.spinner {
    width: 300px;
    height: 200px;
    margin: 40px 0 0 40px;
}

.errorMessage {
    width: 300px;
    padding: 20px 30px;
    background-color: rgb(248, 193, 193);
    border-radius: 5px;
    color: darkred;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}

.listItems {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 16px;
    padding: 10px;
    border: 1px solid rgb(196, 194, 194);
}

.listItems:nth-child(n + 2) {
    border-top: none;
}
